* {
	    box-sizing: border-box;
	}

	body {
	    margin: 0;
	    padding: 2%;
	    font-family: Arial;
	    background-color: lightslategrey;
	}

	/* The grid: Four equal columns that floats next to each other */
	.column {
	    float: left;
	    width: 20%;
	    padding: 2%;
	}

	/* Style the images inside the grid */
	.column img {
	    opacity: 1.0; 
	    cursor: pointer;
	    padding: 10px;
	}

	.column img:hover {
	    opacity: 1.0;
	}

	/* Clear floats after the columns */
	.row:after {
	    content: "";
	    display: table;
	    clear: both;
	}

	/* The expanding image container */
	.container {
	    position: relative;
	    display: none;
	}

	/* Closable button inside the expanded image */
	.closebtn {
	    position: absolute;
	    top: 0px;
	    left: 0px;
	    color: white;
	    font-size: 25px;
	    cursor: pointer;
	}

	h1 {
		color: black;
		background-color: floralwhite;
		text-align: center;
	    font-family: Impact;
	    text-align:center;
	}

	h3 {
		text-align:center;
		background-color: floralwhite;
	}